<div class="content-wrapper p-0">
   <div class="content-body">
      <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->

      <section id="commons-category">
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <h4 class="card-title">Categorías</h4>
                  </div>
                  <div class="card-body">
                     <app-datatable class="w100" [columns]="columns" [rows]="categoryDtos" [selectedLimit]="25"
                        [actions]="actions" (action)="action($event)" (create)="create()">
                     </app-datatable>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
