@font-face {
	font-family: "Homeet";
	src: url("../fonts/homeet.woff") format("woff");
}

@function toRem($value) {
   $remValue: ($value / 16px) * 1rem;
   @return $remValue * 1.4;
}

* {
   font-family: "Homeet", sans-serif !important;
}

body {
   font-size: toRem($base-font-size);
}

.navigation {
   font-size: toRem($base-font-size);
}

.main-menu .navbar-header {
   padding-left: 1rem;
}

.main-menu .navbar-header .navbar-brand {
   margin-top: 1rem;
}

.nav .modern-nav-toggle {
   margin-top: 1.25rem;
}

.main-menu .collapse-toggle-icon {
   color: $menu-dark-bg-color  !important;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
   max-width: 25px;
}

.main-menu .navbar-header .navbar-brand .brand-text {
   color: $menu-dark-bg-color;
}

.main-menu .navigation>li>a {
   margin: 0 10px !important;
}

.main-menu ul.navigation-main {
   padding-top: 0.75rem;
}

.main-menu ul.navigation-main>li {
   margin-bottom: 0.5rem;
}

.dark-layout .main-menu .navbar-header .navbar-brand .brand-text,
.semi-dark-layout .main-menu .navbar-header .navbar-brand .brand-text {
   color: #fff !important;
}

.dark-layout .main-menu .collapse-toggle-icon,
.semi-dark-layout .main-menu .collapse-toggle-icon {
   color: #fff !important;
}

.dark-layout .main-menu-content .navigation-main,
.semi-dark-layout .main-menu-content .navigation-main {
   background-color: $menu-dark-bg-color  !important;
}

.dark-layout .menu-collapsed .main-menu:not(.expanded) .navigation-main li.active>a,
.semi-dark-layout .menu-collapsed .main-menu:not(.expanded) .navigation-main li.active>a {
   background-color: $menu-dark-active-bg-color  !important;
}

.dark-layout .main-menu-content .navigation-main .nav-item.open>a,
.semi-dark-layout .main-menu-content .navigation-main .nav-item.open>a {
   background-color: $menu-dark-active-bg-color  !important;
}

.dark-layout .main-menu-content .navigation-main .nav-item .menu-content,
.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content {
   background-color: $menu-dark-bg-color  !important;
}

.dark-layout .main-menu-content .navigation-main .nav-item .menu-content li:not(.active) a,
.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content li:not(.active) a {
   background-color: $menu-dark-bg-color  !important;
}

.card .card-header {
   border-bottom: $card-border-width solid $card-border-color;
   padding: 0.8rem 1rem !important;
}

.dark-layout .card .card-header {
   border-color: $menu-dark-light-bg-color;
}

.card .card-body {
   padding: 0.8rem 1rem !important;
}

.modal .modal-header .close,
.dark-layout .modal .modal-header .close {
   background: transparent !important;
   transform: translate(0px, 8px) !important;
   box-shadow: none !important;
}

.card .card-title,
.modal-title {
   font-weight: 600;
}

label {
   font-size: toRem($base-font-size);
}

.badge {
   font-size: 90%;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
}

.btn-sm, .btn-group-sm > .btn {
   line-height: 1.2;
   padding: 0.4rem 1rem;
   font-size: toRem($base-font-size);
}

.form-control-sm {
   font-size: toRem($base-font-size);
}

textarea {
   resize: none;
}

.table-responsive {
   border-radius: 0.357rem !important;
}

.table {
   border-collapse: separate !important;
   border-spacing: 0 !important;
}

.table thead th {
   text-align: center;
   vertical-align: middle;
}

.table thead th, .table tfoot th {
   font-size: toRem($base-font-size);
   text-transform: none;
}

@media (min-width: 576px) {
   .header-navbar .navbar-container {
      padding: 0.5rem 1rem;
   }
}