@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';

.auth-wrapper .auth-inner {
   background-color: transparent !important;
}

.auth-wrapper.auth-v1 .auth-inner:before,
.auth-wrapper.auth-v1 .auth-inner:after {
   content: none;
}

.auth-wrapper .brand-text {
   margin-top: 5px;
   margin-bottom: 0;
}