<div class="content-wrapper p-0">
   <div class="content-body">
      <section id="commons-products">
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <h4 class="card-title">Productos</h4>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-4 form-group">
                           <label>Nombre</label>
                           <input type="text" class="form-control form-control-sm" [(ngModel)]="parameters.name"
                              maxlength="100" />
                        </div>
                        <div class="col-md-2 form-group">
                           <label>Categoría</label>
                           <ng-select [items]="categoryDtos" bindLabel="name" bindValue="id"
                              [(ngModel)]="parameters.categoryId">
                           </ng-select>
                        </div>
                        <div class="col-md-2 form-group">
                           <label> </label>
                           <button class="btn btn-primary btn-sm" (click)="find();">
                              <i data-feather="search" class="mr-1"></i>Buscar
                           </button>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="row">
                              <div class="col-md-12">
                                 <app-datatable class="w100" [columns]="columns" [rows]="productDtos"
                                    [selectedLimit]="25" [actions]="actions" (action)="action($event)"
                                    (create)="create()">
                                 </app-datatable>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>