<div class="content-wrapper p-0">
   <div class="content-body">
      <section id="security-role">
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <h4 class="card-title">Roles</h4>
                  </div>
                  <div class="card-body">
                     <app-datatable class="w100" [columns]="columns" [rows]="roles" [actions]="actions"
                        (action)="actionEvent($event)" (create)="createRole()" (edit)="editEvent($event)">
                     </app-datatable>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
