<div class="row mb-50" *ngIf="create || limit || search || export">
   <div class="col-md-6 col-12">
      <div class="row align-items-center m-0" *ngIf="create || limit">
         <!--New row-->
         <div className="col-auto d-flex" *ngIf="add">
            <button class="btn btn-primary btn-sm" (click)="emitCreate()">
               <i data-feather="plus" class="mr-25"></i>Nuevo
            </button>
         </div>

         <!--Number of rows select-->
         <label class="col-auto d-flex align-items-center m-0" *ngIf="limit">
            Mostrar
            <select class="form-control form-control-sm mx-25" [(ngModel)]="selectedLimit">
               <option value=" 5">5</option>
               <option value="10">10</option>
               <option value="25">25</option>
               <option value="50">50</option>
               <option value="100">100</option>
            </select>
            registros
         </label>
      </div>
   </div>

   <div class="col-md-6 col-12 d-flex justify-content-md-end">
      <div class="d-flex align-items-center justify-content-end" *ngIf="search || export">
         <!--Search input-->
         <label class="d-flex align-items-center mr-25 mb-0" *ngIf="search">
            Buscar:
            <input type="search" placeholder="Buscar..." class="form-control form-control-sm ml-25"
               (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
         </label>

         <!--Export button-->
         <a csvLink [data]="rows" class="btn btn-primary btn-sm ml-25" rippleEffect *ngIf="export">
            <i data-feather="file-text" class="mr-25"></i>Export CSV
         </a>
      </div>
   </div>
</div>

<ngx-datatable #table [class]="('bootstrap core-bootstrap ' + class).trim()" [columnMode]="ColumnMode.force"
   headerHeight="auto" footerHeight="auto" rowHeight="auto" [limit]="selectedLimit" [columns]="
  columns" [rows]="rows" [messages]="messages" [scrollbarH]="true">
   <!--Number row-->
   <ngx-datatable-column name="Nro." [width]="70" cellClass="justify-content-center">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
         <span>{{rowIndex + 1}}</span>
      </ng-template>
   </ngx-datatable-column>

   <!--Columns-->
   <ngx-datatable-column *ngFor="let column of columns" [name]="column.title" [prop]="column.name"
      [width]="column.width" [canAutoResize]="true" [cellClass]="column.class ?? ''">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <!--Default Cell-->
         <span *ngIf="!column.custom">{{value}}</span>

         <!--Badge Cell-->
         <span *ngIf="column.custom && column.custom.type === ColumnType.badge"
            [class]="('badge ' + getClassBadgeCell(row, column.custom)).trim()">{{value}}</span>

         <!--Input Cell-->
         <input *ngIf="column.custom && column.custom.type === ColumnType.input" type="text"
            [class]="column.custom.class" [value]="value" (blur)="emitEdit($event, column.name, row)" />
      </ng-template>
   </ngx-datatable-column>

   <!--Actions-->
   <ngx-datatable-column *ngFor="let action of actions" name="" [width]="action.width" [sortable]="false"
      cellClass="justify-content-center">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
         <span (click)="emitAction(action.name, rowIndex, row)" [title]="action.title">
            <i [data-feather]="action.icon" class="text-primary cursor-pointer"></i>
         </span>
      </ng-template>
   </ngx-datatable-column>
</ngx-datatable>
