<div class="content-wrapper">
   <div class="content-body">
      <!-- Blog List -->
      <section class="blog-content mt-3">
         <div class="row justify-content-center">
            <div class="col-10">
               <!-- Blog -->
               <div class="card" *ngIf="blogEntry">
                  <img [src]="blogEntry.image" class="img-fluid card-img-top" alt="Blog Detail Image" />
                  <div class="card-body">
                     <h4 class="card-title">{{ blogEntry.title }}</h4>

                     <div class="media mb-1">
                        <div class="media-body">
                           <small class="text-muted mr-25">by</small>
                           <small>
                              <a href="javascript:void(0);" class="text-body">
                                 {{ blogEntry.userName }}
                              </a>
                           </small>
                        </div>
                     </div>

                     <p class="card-text mb-2" [innerHTML]="blogEntry.content"></p>

                     <hr class="my-2" />

                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <div class="d-flex align-items-center mr-1">
                              <a href="javascript:void(0);" class="mr-50" (click)="likeBlogEntry()">
                                 <i data-feather="thumbs-up" class="font-medium-5 text-body align-middle"></i>
                              </a>
                              <a href="javascript:void(0);">
                                 <div class="text-body align-middle">{{ blogEntry.likes }} Likes</div>
                              </a>
                           </div>
                           <div class="d-flex align-items-center">
                              <a href="javascript:void(0);" class="mr-50">
                                 <i data-feather="eye" class="font-medium-5 text-body align-middle"></i>
                              </a>
                              <a href="javascript:void(0);">
                                 <div class="text-body align-middle">{{ blogEntry.views }} Views</div>
                              </a>
                           </div>
                        </div>

                        <div class="d-flex align-items-center">
                           <a routerLink="/blog" class="font-weight-bold">
                              Back to Blog
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <!--/ Blog -->
            </div>
         </div>
      </section>
      <!--/ Blog List -->
   </div>
</div>