<div class="modal-header">
    <h4 class="modal-title">Stock por Almacén</h4>
    <button type="button" class="close" aria-label="Close" (click)="close();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9 form-group">
            <label>Producto</label>
            <input type="text" [ngModel]="productDto.name" class="form-control form-control-sm" disabled />
        </div>
        <div class="col-md-3 form-group">
            <label>Unidad de Medida</label>
            <input type="text" [ngModel]="productDto.measurementUnitName" class="form-control form-control-sm"
                disabled />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-sm table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th style="width: 40px;">Nro</th>
                            <th>Sucursal</th>
                            <th>Almacén</th>
                            <th>Cant. Disponible</th>
                            <th>Cant. Real</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="stockDtos.length > 0;else ListaVacia">
                        <tr *ngFor="let stockDto of stockDtos; let item = index;" id="{{item}}" class="btn-off">
                            <td class="align-middle text-center">{{item + 1}}</td>
                            <td class="align-middle" style="white-space: nowrap;">
                                {{stockDto.branchName}}
                            </td>
                            <td class="align-middle" style="white-space: nowrap;">
                                {{stockDto.warehouseName}}
                            </td>
                            <td class="align-middle text-right" style="width: 120px;">
                                {{stockDto.availableQuantity|number:'1.2-2':'en-US'}}
                            </td>
                            <td class="align-middle  text-right" style="width: 120px;">
                                {{stockDto.realQuantity|number:'1.2-2':'en-US'}}
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #ListaVacia>
                        <tbody>
                            <td colspan="15">
                                <p class="text-center m-0">Sin registros para mostrar</p>
                            </td>
                        </tbody>
                    </ng-template>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" (click)="close();">
        <i data-feather="x-circle" class="mr-1"></i>Cerrar
    </button>
</div>