.ng-select.ng-select-single .ng-select-container {
   height: 25.7px !important;
}

.ng-select .ng-select-container {
   min-height: 25.7px !important;
}

.ng-select.ng-select-focused .ng-select-container {
   min-height: 25.7px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
   top: 3px !important;
}