<div class="content-wrapper p-0">
    <div class="content-body">
        <section id="logistics-product-movement">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Movimientos de Almacén</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <button class="btn btn-primary btn-sm" (click)="createProductMovement();" style="margin-left: 0;">
                                       <i data-feather="plus" class="mr-25"></i>Nuevo
                                    </button>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <app-datatable class="w100" [columns]="columns" [rows]="productMovements" [actions]="actions"
                                        (actionEvent)="actionEvent($event)" (editEvent)="editEvent($event)" [search]="true">                                        
                                    </app-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>